// Colors palette
$color--primary: #ed7f88;
$color--on-primary: #ffff;
$color--primary-container: #fac2c1;
$color--on-primary-container: #099696;

$color--secondary: #7fc7b9;
$color--on-secondary: #ffff;
$color--secondary-container: #85cdca;
$color--on-secondary-container: #ffff;

$color--background-gradient-from: #82c9bf;
$color--background-gradient-to: #7dc1af;
$color--background-neutral: #ffff;

// Typography

//
