@use '../../../../styles/design-system/colors/themes';
@use '../../../../styles/design-system/typography/fonts';
@use '../../../../styles/design-system/shapes/radius';
@use '../../../../styles/design-system/utils/utils-mixins';
@use '../../../../styles/design-system/utils/utils-functions';
@use '../../../../styles/design-system/animation/transition';

.SbButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  position: relative;
  white-space: nowrap;
  line-height: 1.2;
  font-family: fonts.$secondary-font;
  font-weight: fonts.select-font-weight(semi-bold);
  background-color: transparent;

  // &:focus-visible {
  //   @include focus {
  //     box-shadow: select-shadow(300);
  //   }
  // }

  @include utils-mixins.hover {
    transition-property: transition.select-transition(property, common);
    transition-duration: transition.select-transition(duration, normal);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:active:enabled {
    outline: none;
    outline-offset: 0;
    animation: scale-up-center transition.select-transition(duration, fast) both;
  }
}

.SbButton_variant_contained,
.SbButton_variant_outlined,
.SbButton_variant_shadowed,
.SbButton_variant_text {
  outline-offset: 2px;
  border-radius: radius.select-radius(button, default);
}

.SbButton_priority_primary {
}

.SbButton_priority_secondary {
}

.SbButton_size_xs {
  height: 1.5rem;
  min-width: 1.5rem;
  font-size: 0.75rem;
  padding-left: utils-functions.toEM(0.5rem);
  padding-right: utils-functions.toEM(0.5rem);
}

.SbButton_size_sm {
  height: 2rem;
  min-width: 2rem;
  font-size: 0.875rem;
  padding-left: utils-functions.toEM(0.75rem);
  padding-right: utils-functions.toEM(0.75rem);
}

.SbButton_size_md {
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 1rem;
  padding-left: utils-functions.toEM(1rem);
  padding-right: utils-functions.toEM(1rem);
}

.SbButton_size_lg {
  height: 3rem;
  min-width: 3rem;
  font-size: 1.125rem;
  padding-left: utils-functions.toEM(1.5rem);
  padding-right: utils-functions.toEM(1.5rem);
}

@include themes.light-theme {
  .SbButton_variant_contained.SbButton_priority_primary {
    background-color: themes.select-color(background, brand-main);
    color: themes.select-color(text, light-on-brand-main);

    @include utils-mixins.hover {
      background-color: themes.select-color(background, brand-main-hover);
    }

    &:active:enabled {
      background-color: themes.select-color(background, brand-main-active);
    }
  }

  .SbButton_variant_outlined.SbButton_priority_primary {
    color: themes.select-color(text, brand-on-light-main);
    border: 1px solid currentcolor;

    @include utils-mixins.hover {
      background-color: themes.select-color(background, brand-main-on-light-hover);
    }

    &:active:enabled {
      background-color: themes.select-color(background, brand-main-on-light-active);
    }
  }

  .SbButton_variant_shadowed.SbButton_priority_primary {
    color: themes.select-color(text, brand-on-light-main);

    @include utils-mixins.hover {
      background-color: themes.select-color(background, brand-main-on-light-hover);
    }

    &:active:enabled {
      background-color: themes.select-color(background, brand-main-on-light-active);
    }
  }

  .SbButton_variant_text.SbButton_priority_primary {
    color: themes.select-color(text, brand-on-light-main);

    @include utils-mixins.hover {
      text-decoration: underline;
      color: themes.select-color(text, brand-on-light-main-hover);
    }

    &:active:enabled {
      // background-color: themes.select-color(background, brand-main-on-light-active);
    }
  }

  .SbButton_priority_primary {
  }

  .SbButton_priority_secondary {
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
