$transition: (
  property: (
    common: (
      background-color,
      border-color,
      color,
      fill,
      stroke,
      opacity,
      box-shadow,
      transform,
    ),
    colors: (
      background-color,
      border-color,
      color,
      fill,
      stroke,
    ),
    dimension: (
      width,
      height,
    ),
    position: (
      left,
      right,
      top,
      bottom,
    ),
    background: (
      background-color,
      background-image,
      background-position,
    ),
  ),
  easing: (
    easy-in: cubic-bezier(0.4, 0, 1, 1),
    easy-out: cubic-bezier(0, 0, 0.2, 1),
    easy-in-out: cubic-bezier(0.4, 0, 0.2, 1),
  ),
  duration: (
    ultra-fast: 50ms,
    faster: 100ms,
    fast: 150ms,
    normal: 200ms,
    slow: 300ms,
    slower: 400ms,
    ultra-slow: 500ms,
  ),
);

/// Returns the radius value for a given category and radius property key.
///
/// @param {String} $category - Transition's category.
/// @param {String} $value - Transition's property.
/// @return {Radius} Transition value.

@function select-transition($category, $value) {
  $found-transition: map-get(map-get($transition, $category), $value);

  @if $found-transition == null {
    @error 'Transition `#{$found-transition}` not found. Available radiuses: #{$transition}';
  } @else {
    @return $found-transition;
  }
}
