@use '../utils/utils-functions';

$radius-xs: utils-functions.toREM(2px);
$radius-sm: utils-functions.toREM(4px);
$radius-md: utils-functions.toREM(6px);
$radius-lg: utils-functions.toREM(8px);
$radius-xl: utils-functions.toREM(10px);
$radius-2xl: utils-functions.toREM(12px);
$radius-3xl: utils-functions.toREM(14px);

$radiuses: (
  button: (
    default: $radius-md,
  ),
);

/// Returns the radius value for a given category and radius property key.
///
/// @param {String} $category - Radiuse's category.
/// @param {String} $value - Color's value.
/// @return {Radius} The color value.

@function select-radius($category, $value) {
  $found-radius: map-get(map-get($radiuses, $category), $value);

  @if $found-radius == null {
    @error 'Radius `#{$found-radius}` not found. Available radiuses: #{$radiuses}';
  } @else {
    @return $found-radius;
  }
}
