$colors-primary-extra-light: #f3dcf7;
$colors-primary-lighter: #d8ccea;
$colors-primary-light: #a178df;
$colors-primary-normal: #845ec2;
$colors-primary-dark: #6f44b4;
$colors-primary-darker: #5d3a98;
$colors-primary-extra-dark: #4c2f7c;

$colors-secondary-extra-light: #c9fffa;
$colors-secondary-lighter: #a2fff7;
$colors-secondary-light: #00e3ce;
$colors-secondary-normal: #00c9b7;
$colors-secondary-dark: #00b0a0;
$colors-secondary-darker: #009689;
$colors-secondary-extra-darr: #007d71;

$colors-gray-extra-light: #e7e7e7;
$colors-gray-lighter: #dddddd;
$colors-gray-light: #c9c9c9;
$colors-gray-normal: #bfbfbf;
$colors-gray-dark: #b5b5b5;
$colors-gray-darker: #ababab;
$colors-gray-extra-dark: #a1a1a1;

$colors-white: #ffff;
$colors-black: #0000;
